[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Engine/ThirdParty/glfw"]
	path = Engine/ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Engine/ThirdParty/dxc"]
	path = Engine/ThirdParty/dxc
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "Engine/ThirdParty/assimp"]
	path = Engine/ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/ThirdParty/entt"]
	path = Engine/ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/ThirdParty/json"]
	path = Engine/ThirdParty/json
	url = git@github.com:nlohmann/json.git
[submodule "Engine/ThirdParty/ImGuizmo"]
	path = Engine/ThirdParty/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
