[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ThirdParty/dxc"]
	path = ThirdParty/dxc
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "ThirdParty/assimp"]
	path = ThirdParty/assimp
	url = https://github.com/assimp/assimp.git
